<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript">
    <% include ../../map.js %>
  </script>

  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .btn-xlarge {
        padding: 18px 28px;
        font-size: 22px; //change this to your desired size
        line-height: normal;
        -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
                border-radius: 8px;
      }
    </style>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div id="map"></div>
  <div class="row" style="margin-top: 12px;">
    <div class="col-md-2 col-md-offset-5">
      <div><button id="begin-trip" class="btn btn-xlarge btn-info center">Begin trip!</button></div>
    </div>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcCEdwqJJRmFl8E3__78AoyPMGSVB_M80&callback=initMap"
        async defer></script>
</body>
</html>
